<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
</head>
<body>

<div class="uk-child-width-expand@s uk-text-left" uk-grid>
    <div class="uk-width-1-6@m uk-margin-small">
        <!-- MENU -->
        <div class="uk-card uk-card-default uk-card-body">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <li class="uk-active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="uk-parent">
                    <a href="#">Artists</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Popular Artist 1</a></li>
                        <li><a href="#">Popular Artist 2</a></li>
                        <li><a href="#"><strong>View All Artists</strong></a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">Concerts</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Popular Concert 1</a></li>
                        <li><a href="#">Popular Concert 2</a></li>
                        <li><a href="#"><strong>View All Concerts</strong></a></li>
                    </ul>
                </li>
                <li class="uk-nav-header">Account</li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: plus"></span> Upload Footage</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: image"></span> Manage Footage</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Manage Account</a></li>
            </ul>
        </div>
    </div>
    
    <!-- BODY -->
    <div>
        <div class="uk-width-auto@m">@RenderBody()</div>
    </div>
</div>

@Scripts.Render("~/bundles/js")
@RenderSection("scripts", false)
</body>
</html>
